<!DOCTYPE html>

<html>
    {% if not story_ID %}
    <head>
        <title>Sprinter 3000 - Add new Story</title>
            <h1><strong>User story manager - Add new Story</strong></h1>
    </head>
        <body>
            <h3>User Story Manager - Add New Story</h3>
            <form action="/story" method="POST">
                <p>Story Title:</br>
                <input type="text" name="story_title" required></p>
                
                <p>User Story:</br>
                <textarea name="user_story" rows="5" cols="20" required></textarea></p>

                <p>Acceptance criteria:</br>
                <textarea name="acceptance_criteria" rows="5" cols="20" required></textarea></p>

                <p>Business value:</br>
                <input type="number" name="business_value" min="100" max="1500" step="100">

                <p>Estimation (h):</br>
                <input type="number" name="estimation" min="0.5" max="40" step="0.5">

                <p>Status:</br>
                <select name="status">
                    <option value="Planning">Planning</option>
                    <option value="TODO">TODO</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Review">Review</option>
                    <option value="Done">Done</option>
                </select>
                <p><input type="submit" name="create" value="Create"></p>
            </form>
        </body>
        <p><button><a href="/">Back</a></button></p>
    {% else %}
    <head>
        <title>Sprinter 3000 - Edit Story</title>
            <h1><strong>User story manager - Edit Story</strong></h1>
    </head>
        <body>
            <h3>User Story Manager - Add New Story</h3>
            <form action="/edit_story" method="POST">
            {% for data in story_data %}
                <p>Story Title:</br>
                <input type="text" name="story_title" value="{{ data[1] }}" required></p>
                
                <p>User Story:</br>
                <textarea name="user_story" rows="5" cols="20" value="{{ data[2] }}" required></textarea></p>

                <p>Acceptance criteria:</br>
                <textarea name="accept_crit" rows="5" cols="20" value="{{ data[3] }}" required></textarea></p>

                <p>Business value:</br>
                <input type="number" name="bussines_value" min="100" max="1500" step="100" value="{{ data[4] }}">

                <p>Estimation (h):</br>
                <input type="number" name="estimation" min="0.5" max="40" step="0.5" value="{{ data[5] }}">

                <p>Status:</br>
                <select name="status">
                    <option value="Planning">Planning</option>
                    <option value="TODO">TODO</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Review">Review</option>
                    <option value="Done">Done</option>
                </select>
                <p><input type="submit" name="edit" value={{ data[0] }} >Update</p>
            </form>
            {% endfor %}
        </body>
        <p><button><a href="/">Back</a></button></p>
    {% endif %}
</html>

