<!DOCTYPE html>

<html>
    <link rel="stylesheet" href="static/style.css">
    {% if not story_ID %}
    <head>
        <title>Sprinter 3000 - Add new Story</title>
            <h1><strong>User story manager - Add new Story</strong></h1>
    </head>
        <body>
            <h3>User Story Manager - Add New Story</h3>
            <form action="/story" method="POST">
                <p>Story Title:</br>
                <input type="text" name="story_title" required></p>
                
                <p>User Story:</br>
                <textarea name="user_story" rows="5" cols="20" required></textarea></p>

                <p>Acceptance criteria:</br>
                <textarea name="acceptance_criteria" rows="5" cols="20" required></textarea></p>

                <p>Business value:</br>
                <input type="number" name="business_value" min="100" max="1500" step="100">

                <p>Estimation (h):</br>
                <input type="number" name="estimation" min="0.5" max="40" step="0.5">

                <p>Status:</br>
                <select name="status">
                    <option value="Planning">Planning</option>
                    <option value="TODO">TODO</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Review">Review</option>
                    <option value="Done">Done</option>
                </select>
                <p><input type="submit" name="create" value="Create" class="button">
                <a href="/" class="button">Back</a></p>
            </form>
        </body>
    {% else %}
    <head>
        <title>Sprinter 3000 - Edit Story</title>
            <h1><strong>User story manager - Edit Story</strong></h1>
    </head>
        <body>
            <h3>User Story Manager - Add New Story</h3>
            <form action="/edit" method="POST">
                <p>Story Title:</br>
                <input type="text" name="edited_story_title" value="{{ story_to_edit[1] }}" required></p>
                
                <p>User Story:</br>
                <textarea name="edited_user_story" rows="5" cols="20" required>{{ story_to_edit[2] }}</textarea></p>

                <p>Acceptance criteria:</br>
                <textarea name="edited_accept_crit" rows="5" cols="20" required>{{ story_to_edit[3] }}</textarea></p>

                <p>Business value:</br>
                <input type="number" name="edited_business_value" min="100" max="1500" step="100" value="{{ story_to_edit[4] }}">

                <p>Estimation (h):</br>
                <input type="number" name="edited_estimation" min="0.5" max="40" step="0.5" value="{{ story_to_edit[5] }}">

                <p>Status:</br>
                <select name="edited_status">
                    <option selected hidden>{{ story_to_edit[6] }}</option>
                    <option value="TODO">{{ story_to_edit[6] }}</option>
                    <option value="In Progress">In {{ story_to_edit[6] }}</option>
                    <option value="Review">{{ story_to_edit[6] }}</option>
                    <option value="Done">{{ story_to_edit[6] }}</option>
                </select>
                <p><button id="update_button" name="update_button" type="submit" value="{{ story_to_edit[0] }}" class="button">Update</button></p>
            </form>
        </body>
        <p><button><a href="/">Back</a></button></p>
    {% endif %}
</html>

