<!DOCTYPE html>

<html>
    <link rel="stylesheet" href="/static/list_style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <head>
        <title>Super Sprinter 3000</title>
    </head>
    <body>
        <div align="middle" class="table-title">
            <h1>User Story Manager</h1>
        </div>
        <p></p>
        <form action="/story" method="GET">
            <input id="create_story" type="submit" value="Create a story" class="button" href="/story">
        </form>
        <table class="table-fill">
            <thead>
                <tr>
                    {% for item in table_header %}
                    <th class="text-left">{{ item }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody class="table-hover">
                {% for row in stories %}
                    <tr>
                        {% for story in row %}
                            <td class="text-left">{{ story }}</td>
                        {% endfor %}
                            <td align="middle">
                                <form action="story/{{ row[0] }}" method="POST">
                                    <input  id="edit_button" name="edit_button" type="image" src="/static/img/pen.png" alt="Submit" width="60" value="{{ row[0] }}">
                                </form>
                            </td>
                            <td align="middle">
                                <form action="/delete_story" method="POST">
                                    <input  id="delete_button" name="delete_button" type="image" src="/static/img/bin.png" alt="Submit" width="60" value="{{ row[0] }}">
                                </form>
                            </td>
                        {% endfor %}
                    </tr>
            </table>
    </body>
</html>