<!DOCTYPE html>

<html>
    <link rel="stylesheet" href="static/style.css">
    <head>
        <title>Super Sprinter 3000</title>
    </head>
    <body>
        <div align="middle" class="table-title">
            <h1>User Story Manager</h1>
        </div>
        <p></p>
        <table class="table-fill">
            <thead>
                <tr>
                    <form action="/story" method="GET">
                        <input id="create_story" type="submit" value="Create a story" class="button" href="/story">
                    </form>
                    {% for item in table_header %}
                    <th class="text-left">{{ item }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody class="table-hover">
            {% for row in stories %}
                <tr>
                    {% for story in row %}
                        <td class="text-left">{{ story }}</td>
                    {% endfor %}
                    <td align="middle">
                        <form action="story/{{ row[0] }}" method="POST">
                        <input  name="edit_button" type="image" src="/static/img/pen.png" alt="Submit" width="60" value="{{ row[0] }}">
                        </form>
                    </td>
                    <td align="middle">
                        <form action="/delete_story" method="POST">
                        <input  name="delete" type="image" src="/static/img/bin.png" alt="Submit" width="60" value="{{ row[0] }}">
                        </form>
                    </td>
                    {% endfor %}
                </tr>
            </table>
    </body>
</html>