<!DOCTYPE html>

<html>
    <head>
        <title>Super Sprinter 3000</title>
    </head>
    <body>
        <h1><strong>User Story Manager</strong></h1>
        <button><a href="/story">Add new story</a></button>
        <p></p>
        <table border=1>
            <tr>
                {% for item in table_header %}
                    <td><strong>{{ item }}</strong></td>
                {% endfor %}
            </tr>
            {% for row in stories %}
                <tr>
                    {% for data in row %}
                        <td class="stories">{{ data }}</td>
                    {% endfor %}
                    <td>
                        <a href="story/{{ stories[0] }}"><img src="/static/img/pen.png" width="32" height="32"></a>
                        <a href="/deletestory/{{ stories[0] }}"><img src="/static/img/bin.png" width="32" height="32"></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>